@page "/forcars"

<div class="container">
    <div class="text-center">
        <h1>Carros Clásicos</h1>
    </div>
    <div class="jumbotron">
        @for (int counter = 0; counter < Cars.Count; counter++)
        {
        <div class="list-group mb-3">
            <a href=@Cars[counter].CarLink class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <div class="col sm-6 md-3">
                        <img src=@Cars[counter].CarImage class="img-thumbnail" alt="" height="200px" width="200px">
                    </div>
                    <div class="col sm-6 md-9">
                        <h4 class="text-left">
                            Tipo de auto:
                            <small class="text-mute">@Cars[counter].CarType</small>
                        </h4>
                        <p class="mb-0 text-lef">Descripción <small>@Cars[counter].CarDescription</small></p>
                        <footer class="blockquote-footer text-left">Fecha de la publicación <cite title="Surce Title">@Cars[counter].CurrentDate.ToString()</cite></footer>    
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>

@code{
    private List<Car> GetCars()
    {
        return new List<Car>()
        {
         new Car(){
            CarType = "Sedan",
            CarDescription = "Automovil familiar de 4 puertas",
            CarImage = "/images/any.jfif",
            CurrentDate = new DateTime(2021,07,15),
            CarLink = "/practicai"},
         new Car(){
            CarType = "Hatchback",
            CarDescription = "Carro familiar 5 puertas.",
            CarImage = "/images/any.jfif",
            CurrentDate = new DateTime(2021,08,17),
            CarLink = "/practicaii"},
        new Car(){
            CarType = "Pick Up",
            CarDescription = "Vehiculo para trabajo de carga y terrenos difíciles",
            CarImage = "/images/any.jfif",
            CurrentDate = new DateTime(2021,03,01),
            CarLink = "/practicaiii"},
        new Car(){
            CarType = "Deportivo",
            CarDescription = "Es el carro más rápido de todos",
            CarImage = "/images/any.jfif",
            CurrentDate = new DateTime(2021,09,17),
            CarLink = "/"},
        new Car(){
            CarType = "Coupe",
            CarDescription = "Automovil de 2 puertas",
            CarImage = "/images/any.jfif",
            CurrentDate = new DateTime(2021,09,21),
            CarLink = "/forcars"},
        };
    }
    public List<Car> Cars { get { return GetCars();}}
}