@page "/"

<div class="container">
    <div class="row">
        <div class="col col-md-10">
            <h1 class="display-1">Bienvenidos</h1>
        </div>
        <div class="col col-md-2">
            <h1 class="display-6">Películas</h1>
        </div>
    </div>
</div>