@page "/movie"

<h1>Descripción Peliculas</h1>
<ul class="links">
    <li><a href="https://platzi.com/home" class="link" target="">Enlace</a>Este es el enlace</li>
    <li><a href="https://platzi.com/home" class="link" target="">Enlace</a></li>
    <li><a href="https://platzi.com/home" class="link" target="">Enlace</a></li>
    <li><a href="https://platzi.com/home" class="link" target="">Enlace</a></li>
</ul>