<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorProjectIII</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="practicai" Match="NavLinkMatch.All">
                <span class="oi oi-loop" aria-hidden="true"></span> Práctica I
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="practicaii">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Práctica II
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="practicaiii">
                <span class="oi oi-list" aria-hidden="true"></span> Práctica III
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="forcars">
                <span class="oi oi-audio-spectrum" aria-hidden="true"></span> Práctica IV
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="practicav">
                <span class="oi oi-british-pound" aria-hidden="true"></span> Práctica V
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="component">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span> Práctica VI Component
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="oi oi-brush" aria-hidden="true"></span> Práctica VII Servicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tablapeliculas">
                <span class="oi oi-aperture" aria-hidden="true"></span> Práctica VIII Servicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="person">
                <span class="oi oi-people" aria-hidden="true"></span> Práctica IX Persona
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-loop" aria-hidden="true"></span> Categorias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="persons">
                <span class="oi oi-loop" aria-hidden="true"></span> Personas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movies/create">
                <span class="oi oi-loop" aria-hidden="true"></span> Crear película
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
