<div class="jumbotron">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Pelicula</th>
                <th scope="col">Sinopsis</th>
                <th scope="col">Categoría</th>
                <th scope="col">Premier</th>
                <th scope="col">Acciones</th>
            </tr>   
        </thead>
        <tbody>
            @foreach (var movie in Movies)
            {
                <tr>
                    <th scope="row">@movie.Title</th>
                    <td>@movie.Synopsis</td>
                    <td>@movie.Genre</td>
                    <td>@movie.ReleaseDate</td>
                    <td>
                        <a href="">
                            <span class="oi oi-delete btn btn-outline-dark"></span>
                        </a>
                        <a href="">
                            <span class="oi oi-plus btn btn-outline-dark"></span>
                        </a>
                        <a href="">
                            <span class="oi oi-pencil btn btn-outline-dark"></span>
                        </a>
                    </td>
                </tr>                            
            } 
        </tbody>
    </table>
</div>

@code{
    [Parameter] public List<Movie> Movies {get; set;}

    void MovieDelete(){
        Console.WriteLine($"Eliminando el cartel de la película");
    }
}